@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: hsl(180, 29%, 50%);
  --pills-background: hsl(180, 8%, 52%);
  --foreground: #171717;

  --secondary: hsl(180, 14%, 20%);
  --cards-background: #ffffff;
  --background: hsl(180, 52%, 96%);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
